---
layout: default
---

<div class="home">

  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  <div class="wrapper">
    <div class="home-col-wrapper">

      {{ content }}

      <table>
        <thead class="fixed">
          <tr>
            <th class="col1">ID</th>
            <th class="col2">Question</th>
            <th class="col3">Rating</th>
          </tr>
        </thead>
        <tbody class="scrollable">
        {%- for question in site.data.questions -%}
        <tr>
          <td class="col1">{{ question.id }}</td>
          <td class="col2">{{ question.text }}</td>
          <td class="col3"></td>
        </tr>
        {%- endfor -%}
        </tbody>
    </table>
    </div>
  </div>

  <!-- <ul class="post-list">
    {%- for post in site.posts -%}
    <li> -->
      <!-- {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%} -->
      <!-- <span class="post-meta">{{ post.date | date: date_format }}</span> -->
      <!-- <h3>
        <a class="post-link" href="{{ post.url | relative_url }}">
          {{ post.title | escape }}
        </a>
      </h3>
      {{ post.description }}
    </li>
    {%- endfor -%}
  </ul> -->

  <!-- <div class="wrapper">
    <div class="home-col-wrapper">
        {% for proj in page.projects %}
        
          <div class="proj-section">
            <h1 class="proj-header">{{ proj.name }}</h1>
            <div class="home-col home-col-1">
              {{ proj.description }}
            </div>
            <div class="home-col home-col-2">
                <img src="{{ proj.image_link }}" alt="{{ proj.alt_text }}" >
            </div>
          </div>

        {% endfor %}
    </div>
  </div> -->

</div>