---
layout: default
---

<script src="https://unpkg.com/sheetrock@1.2.0/dist/sheetrock.min.js"></script>

<script>
  window.addEventListener("load", function() {
  const form = document.getElementById('new_questions');
  form.addEventListener("submit", function(e) {
    document.body.style.cursor='wait';
    e.preventDefault();
    const data = new FormData(form);
    const action = e.target.action;
    fetch(action, {
      method: 'POST',
      body: data,
    })
    .then(() => {
      document.body.style.cursor='default';
      // document.getElementById("check").innerHTML='&check;';
    })
  });
});
</script>

<div class="home">

  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  <div class="wrapper">
    <div class="home-col-wrapper">
      
      {{ content }}
      <p class="check" id="check" style="color: green;"></p>

      <table class="questions">
        <thead class="fixed">
          <tr>
            <th class="col1">ID</th>
            <th class="col2">Question</th>
            <th class="col3">Rating (#)</th>
          </tr>
        </thead>
        <tbody id="table_rows" class="scrollable">
        <script>
          var data_url = 'https://docs.google.com/spreadsheets/d/1XUFT81fWkYLyo4CMqjqrQDiAwZPBxPIAs9KQnb8myhs/edit?gid=0#gid=0'; // for pulling data
          d = document.getElementById('table_rows');
          sheetrock({
            url: data_url,
            query: "select A,B,D,E",
            target: d,
            rowTemplate: function(row){
              r = row.cells.average_rating;
              if (r == '') r = 'n/a';
              item1 = '<td class="col1">'+row.cells.id+'</td>';
              item2 = '<td class="col2">'+row.cells.text+'</td>';
              item3 = '<td class="col3">'+r+' ('+row.cells.num_ratings+')</td>';
              return '<tr>'+item1+item2+item3+'</tr>'
            }
          });
        </script>
        </tbody>
    </table>
    </div>
  </div>

</div>